/* CART STYLES */

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

.shop-cart-section {
	display: flex;
	flex-direction: row;
}

.shop-cart-items {
	width: 60%;
}

.shop-cart {
	width: 40%;
}

.padding-10 {
	padding: 10px;
}

.item-list {
	display: flex;
	margin-bottom: 25px;
}

.image-column {
	flex: 0 1 25%;
}

.desc-column {
	flex: 1 1 75%;
}

.desc-column ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.item-image {
	margin-right: 15px;
}

.item-name {
	margin-bottom: 10px;
}

.item-desc {
	margin-bottom: 10px;
}

.item-price {
	display: flex;
}

.display-rate {
	font-weight: bold;
	width: 50%;
}

.in-cart-items {
	display: flex;
	flex-direction: column;
}

.in-cart-name {

}

.in-cart-total-rate {
	margin-top: 40px;
	text-align: right;
}

.cart-button {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}

button {
	cursor: pointer;
	padding: 3px 7px;
	color: #ffffff;
}

.add-cart button {
	background: #2eb82e;
	border: none;
	border-radius: 4px;
}

.remove-cart button {
	background: red;
	border: none;
	border-radius: 4px;
}